DEV_PEACE_PROFILES_PASSWORD=
DEV_PEACE_PROFILES_AUTH_SECRET=
PEACEWORKS_ADMIN_EMAILS=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=notifications@mail.peaceworks.network
RESEND_FROM_NAME=PeaceWorks
PEACEWORKS_CONTACT_EMAILS=matt.curts@peaceworks.network,giles.emery@peaceworks.network
